<!--Inserisco parte iniziale - presentazione della pagina-->
    <header>
        <div class="container">
            <div class="row">
                <div class="col centre row1">Our experience & Professional Team</div>
            </div>
            <div class="row">
                <div class="col centre row2">Talent wins games, but teamwork and intelligence win championship.</div>
            </div>
            <div class="row">
                <div class="col centre row3">- Micheal Jordan</div>
            </div>
        </div>
    </header>
    <!--Foto dei membri del team-->
    <main>
        <div class="container pic">
            <div class="row">
                <div class="col"><img src="" alt="Foto Davide Petrillo"></div>
                <div class="col"><img src="" alt="Foto Marco Pieretti"></div>
                <div class="col"><img src="" alt="Foto Angelica Pia Armenise"></div>
                <div class="col"><img src="" alt="Foto Pasquale Angelinno Daniele"></div>
                <div class="col"><img src="" alt="Foto Gennaro D'Isanto"></div>
            </div>
        </div>
    <!--Descrizione dei membri-->
    <!--nome-->
        <div class="container desc">
            <div class="row">
                <div class="col profilo name">Davide Petrillo</div>
                <div class="col profilo name">Marco Pieretti</div>
                <div class="col profilo name">Angelica Pia Armenise</div>
                <div class="col profilo name">Pasquale Angelinno Daniele</div>
                <div class="col profilo name">Gennaro D'Isanto</div>
            </div>
            <!--lavoro-->
            <div class="row">
                <div class="col profilo job">Junior Full Stack Developer</div>
                <div class="col profilo job">Junior Full Stack Developer</div>
                <div class="col profilo job">Junior Full Stack Developer</div>
                <div class="col profilo job">Junior Full Stack Developer</div>
                <div class="col profilo job">Junior Full Stack Developer</div>
            </div>
            <!--descrizione dettagliata-->
            <div class="row">
                <div class="col profilo description">Sed a lacus augue. Duis porta molestie dignissim. Mauris rutrum tempor augue. Morbi molestie vestibulum vestibulum.</div>
                <div class="col profilo description">Sed a lacus augue. Duis porta molestie dignissim. Mauris rutrum tempor augue. Morbi molestie vestibulum vestibulum.</div>
                <div class="col profilo description">Sed a lacus augue. Duis porta molestie dignissim. Mauris rutrum tempor augue. Morbi molestie vestibulum vestibulum.</div>
                <div class="col profilo description">Sed a lacus augue. Duis porta molestie dignissim. Mauris rutrum tempor augue. Morbi molestie vestibulum vestibulum.</div>
                <div class="col profilo description">Sed a lacus augue. Duis porta molestie dignissim. Mauris rutrum tempor augue. Morbi molestie vestibulum vestibulum.</div>
            </div>
        </div>
    </main>