@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/aboutUs.css">
    <title>Image Slider</title>
</head>
<body>
    <div class="slider">
        <span style="--i:1;"><img src="~/css/img/foto-profilo-marco-pieretti.png" alt=""></span>
        <span style="--i:1; font-size:x-large;">Marco Pieretti</span>
        <span style="--i:2;"><img src="https://picsum.photos/200/300" alt=""></span>
        <span style="--i:2; font-size:x-large;">Pasquale Angelino Daniele</span>
        <span style="--i:3;"><img src="https://picsum.photos/200/300" alt=""></span>
        <span style="--i:3; font-size:x-large;">Davide Petrillo</span>
        <span style="--i:4;"><img src="https://picsum.photos/200/300" alt=""></span>
        <span style="--i:4; font-size:x-large;">Gennaro D'Isanto</span>
        <span style="--i:5;"><img src="https://picsum.photos/200/300" alt=""></span>
        <span style="--i:5; font-size:x-large;">Pia Angelica Armenise</span>
    </div>
</body>
</html>