<link href="~/css/ZoomImage.css" rel="stylesheet"/>

<div class="container-fluid mb-5">
    <div class="row">
        <div class="col">
            <h1 class="col text-center fw-bold">Music Store</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <blockquote class="col-8 text-center text-muted">“Per me la musica è il colore. Non il dipinto. La mia musica mi permette di dipingere me stesso.”</blockquote>
    </div>
    <div class="row">
            <div class="col centre row3">
                - David Bowie
            </div>
        </div>
</div>

    <br />
    <br />

<div id="dettaglio" class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-6 col-sm-8 text-center mb-5" id="details_instruments">

        </div>
        <div class="col-12 col-md-6 col-sm-4">
            <div id="descrizione_strumento">

            </div>
            <form onsubmit="AcquistaStrumento(event)" class="my-4" method="post">
                <!-- data input -->
                <div class="col-12 mb-3">
                    <label for="Data">Data</label>
                    <input type="datetime-local" class="form-control w-50" id="Data" placeholder="data">
                </div>

            <!-- Quantita input -->      
            <div class="col-12 mb-3">
                <label for="Quantita">Quantita</label>
                <input type="number" min="1" max="50" class="form-control w-50" id="Quantita" placeholder="Quantita">
            </div>
       
                <!-- Submit button -->
                <button type="submit" class="btn btn-dark btn-block mb-4">Acquista</button>
            </form>
        </div>
    </div>
</div>
        
@section Scripts {

<script type="text/javascript">

var url = window.location.pathname;
var id = url.substring(url.lastIndexOf('/') + 1);

detailsInstruments(id);

function detailsInstruments(parameterId){
    axios.get('/api/Struments/Details/' + parameterId)
    .then((result) => {

    if (result.data.id == parameterId) {

        document.getElementById("details_instruments").innerHTML =
        `        
         <img src="${result.data.foto}" class="img-fluid" alt="Image" >
        `          
        document.getElementById("descrizione_strumento").innerHTML =
        `      
        <h5 class="card-title">${result.data.nome}</h5>
        <p class="card-text">${result.data.descrizione}</p>
        <h5>${result.data.prezzo}&euro;</h5>                       
        <div class="d-inline-flex mt-1">
            <button id="like" class="icon-wrapper m-0" onclick="AddLike(${result.data.id})">
                &#10084;<span class="fas fa-heart"></span>                
            </button>
            <span class="mx-2 my-1" id="span_to_remove">${result.data.numeroLike} mi piace</span>
        </div>
        `     
    } 
    }).catch((error) => {
        console.log("C'è stato un errore: " + error);
    })
}

function AcquistaStrumento(event){
    event.preventDefault();

    var Quantita = document.getElementById('Quantita').value;
    var Data = document.getElementById('Data').value;
    var idStrument = id;

    var nuovoAcquisto = {
        Data : Data,
        Quantita : Quantita,
        StrumentoMusicaleId : id
    }

    axios.post('/api/Struments/AcquistaStrumento/' + id, nuovoAcquisto
    ).then((result) => {
        alert("Messaggio inviato correttamente");
        window.location.assign(url);

    }).catch((error) => {
        console.log("Si è verificato un errore: " + error);
    })
}              

function AddLike(id) 
{
    var heartContainer = document.getElementsByClassName('icon-wrapper');
    var state;
Object.keys(heartContainer).forEach(singleElement => {          

        if (heartContainer[singleElement].classList.contains('liked'))
        {
            heartContainer[singleElement].classList.add('unliked');
            heartContainer[singleElement].classList.remove('liked');
            setTimeout(unlikeRemover, 250);
            state = true;
        }
        else 
        {
            heartContainer[singleElement].classList.add('liked');
            heartContainer[singleElement].classList.remove('unliked');
            state = false;
        }

            function unlikeRemover() {
                heartContainer[singleElement].classList.remove('unliked');
            }
    });

        axios.post('/api/Like/AddLikeToInstruments', {
                StrumentoMusicaleId : id,
                Status : state
        })
        .then((result) => {
            console.log("Sta inviando i dati");
            console.log(result);

            /*setTimeout(function(){
            window.location.reload();
            }, 5000);*/

        }).catch((error) => {
            console.log("Errore" + error);
        });
}

</script>
}