@model StrumentoMusicale

    <div class="container">
        <div class="row">
            <div class="col">
            <h1 class="col text-center mt-5 fw-bold">Music Store</h1>
            </div>
        </div>
        <div class="row justify-content-center">
            <blockquote class="col-8 text-center text-muted">“Per me la musica è il colore. Non il dipinto. La mia musica mi permette di dipingere me stesso.”</blockquote>
        </div>
        <div class="row">
                <div class="col centre row3">- David Bowie</div>
            </div>
      </div>
      <div id="details_instruments">

      </div>

        @section Scripts {

        <script type="text/javascript">
        
            detailsInstruments();

            function detailsInstruments(){

           // var url = window.location.pathname;
           // var id = url.substring(url.lastIndexOf('/') + 1);
           var id = @Model.Id

                axios.get('/api/Struments/Get?id=' + id).then((result) => {

                        document.getElementById("details_instruments").innerHTML = 
                        `
                        <div class="col-lg-4 col-md-6 col-xs-12 text-center">
                          
                                <div class="card my-3">
                                    <img src="${result.data.foto}" class="card-img-top" alt="Image">
                                    <div id="dettagliStrumento" class="card-body">
                                        <h5 class="card-title">${result.data.nome}</h5>
                                        <p class="card-text">${result.data.descrizione}</p>
                                        <span class="btn btn-light text-dark border border-dark">Acquista</span>
                                    </div>
                                </div>
                        </div>
                        `
                
                    
                    }).catch((error) => {
                        console.log("C'è stato un errore: " + error);

                    })
               }

        </script>

        }