<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="col text-center mt-5 fw-bold">Music Store</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <blockquote class="col-8 text-center text-muted">“Per me la musica è il colore. Non il dipinto. La mia musica mi permette di dipingere me stesso.”</blockquote>
    </div>
    <div class="row">
            <div class="col centre row3">
                - David Bowie
            </div>
        </div>
    </div>
    <br />
    <br />
<div class="container">
    <div class="row">

        <div class="col-12 col-md-6 col-sm-8 text-center" id="details_instruments">

        </div>
        
        

        <div class="col-12 col-md-6 col-sm-4">

            <div id="descrizione_strumento">

            </div>

        
                <form onsubmit="AcquistaStrumento(event)" method="post">
            <!-- data input -->
        

                    <div class="col-12">
                        <label for="Data">Data</label>
                        <input type="datetime-local" class="form-control" id="Data" placeholder="data">
                    </div>
        

            <!-- Quantita input -->
        

                    
                <div class="col-12">
                    <label for="Quantita">Quantita</label>
                    <input type="number" min="1" max="50" class="form-control" id="Quantita" placeholder="Quantita">
                </div>
       
                <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-block mb-4">Acquista</button>
            </form>
        </div>
    </div>

</div>

      <!--<button type="button" class="btn btn-outline-danger fas fa-heart icon-wrapper btLike" onclick="likeHeart()">&#10084;</button>-->
      


    
@section Scripts {

<script type="text/javascript">

var url = window.location.pathname;
var id = url.substring(url.lastIndexOf('/') + 1);

detailsInstruments(id);

function detailsInstruments(parameterId){
    axios.get('/api/Struments/Details/' + parameterId)
    .then((result) => {

    if (result.data.id == parameterId) {

        document.getElementById("details_instruments").innerHTML =
        `
        
                
                    <img src="${result.data.foto}" class="img-fluid" alt="Image" >
        `          
        document.getElementById("descrizione_strumento").innerHTML =

        `
                
                <h5 class="card-title">${result.data.nome}</h5>
                <p class="card-text">${result.data.descrizione}</p>
                <h5>${result.data.prezzo}&euro;</h5>
                        
                <div>
                    <button id="like" type="button" class="icon-wrapper btLike" onclick="twoFunctionTogheter(${result.data.id}); likeHeart()">
                    &#10084;<p class="fas fa-heart"></p>
                    </button>
                    <span id="span_to_remove">${result.data.numeroLike} mi piace</span>
                </div>
        `
                    
               
        
        
    } 
    }).catch((error) => {
        console.log("C'è stato un errore: " + error);

    })
}

function AcquistaStrumento(event){
    event.preventDefault();

    var Quantita = document.getElementById('Quantita').value;
    var Data = document.getElementById('Data').value;
    var idStrument = id;

    var nuovoAcquisto = {
        Data : Data,
        Quantita : Quantita,
        StrumentoMusicaleId : id
    }

    axios.post('/api/Struments/AcquistaStrumento/' + id, nuovoAcquisto
    ).then((result) => {
        alert("Messaggio inviato correttamente");
        window.location.assign(url);

    }).catch((error) => {
        console.log("Si è verificato un errore: " + error);
    })

}              

function twoFunctionTogheter(){
    likeHeart();
    AddLike(id);
}

function AddLike(id) 
{
        axios.post('/api/Like/AddLikeToInstruments', {
                StrumentoMusicaleId : id,
        })
        .then((result) => {
            console.log("Sta inviando i dati");
        }).catch((error) => {
            console.log("Errore" + error);
        });
}

function likeHeart(){

var heartContainer = document.getElementsByClassName('btLike');

Object.keys(heartContainer).forEach(singleElement => {
    
    
    heartContainer[singleElement].addEventListener('click', function() {
        
    
        if (heartContainer[singleElement].classList.contains('liked'))
        {
            heartContainer[singleElement].classList.add('unliked');
            heartContainer[singleElement].classList.remove('liked');
            setTimeout(unlikeRemover, 250);
        }
        else 
        {
            heartContainer[singleElement].classList.add('liked');
            heartContainer[singleElement].classList.remove('unliked');
        }

            function unlikeRemover() {
                heartContainer[singleElement].classList.remove('unliked');
            }
        });
    });
}

function twoFunctionTogheter (){
    likeHeart();
    AddLike(id);
}
</script>
}