<!--Intestazione-->
<div class="container-fluid mt-3 mb-2">
    <div class="row text-center">
        <div class="col-12">
            <input id="search_struments" class="border border-3" type="text" placeholder="Cerca strumento">
        </div>
    </div>
</div>

<!--Sezione Strumenti-->  
<section>
    <div class="container mt-3 mb-3">
        <!--Pagina in attesa -->
        <div id="wait_struments" class="row text-center">
              <div class="text-center">
                 <div class="spinner-border" role="status">
                    <span class="sr-only"></span>
                 </div>
              </div>
        </div>
        <!--Pagina con strumenti-->
        <div id="struments_output" class="row my-3 d-none">

        </div>
    </div>
</section>

<!--Sezione cassifica-->
<section>
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-12">
                <h3>Strumenti piu' venduti nell'ultimo mese</h3>
            </div>
        </div>
        <div id="classifica" class="row">

        </div>
        
    </div>
</section>

<!--Sezione degli Scripts-->
@section Scripts  {
<script type="text/javascript">

//Aggiungiamo evento di keyup richiamando la funzione di ricerca della stringa
document.getElementById('search_struments').addEventListener('keyup', searchParameter);

searchParameter();
loadClassifica();

//Funzione che cerca la stringa in base al valore associato nella barra di ricerca
//richiamando la funzione che carica le card degli strumenti
function searchParameter() {
    var inputOfSearch = document.getElementById('search_struments').value;
    loadStrument(inputOfSearch);
}

//Funzione che carica le card degli strumenti  tramite axios
function loadStrument(parameter) {

    document.getElementById('struments_output').innerHTML = '';
    
    axios.get('/api/Struments/Get', {
        params: {
            searchString : parameter
        }
    }).then((result) => {
        console.log(result);

        if (result.data.lenght == 0) 
        {
            document.getElementById('wait_struments').classList.add('d-none');
        } 
        else 
        {
            document.getElementById('wait_struments').classList.add('d-none');
            document.getElementById('struments_output').classList.remove('d-none');

            result.data.forEach(strument => {   

            document.getElementById('struments_output').innerHTML +=
            `
                <div class="col-12 col-md-6 col-xs-4 text-center">
                    <a href="/Home/Details/${strument.id}">
                        <div class="card">
                            <img src="${strument.foto}" class=" card-img-fluid" alt="Image">
                            <div id="dettagliStrumento" class="card-body">
                                <h5 class="card-title">${strument.nome}</h5>
                                <p class="card-text">${strument.descrizione}</p> 
                                <h5>${strument.prezzo}&euro;</h5>                               
                                <span class="btn btn-light text-dark border border-dark">Acquista</span>
                            </div>
                        </div>
                    </a>
                    <div>
                        <button id="like" class="icon-wrapper" onclick="AddLike(${strument.id})">
                            &#10084;<p class="fas fa-heart"></p>
                        </button>
                        <span id="span_to_remove">${strument.numeroLike} mi piace</span>
                   </div>
                </div> 
            `
        });
        }
        }).catch((error) => {
    console.log(error);
    });
}

function loadClassifica() {

    document.getElementById('classifica').innerHTML = '';

    axios.get('/api/Struments/GetClassifica')
        .then((result) => {
            console.log(result);
            console.log(result.data);


            result.data.forEach(strument => {
                document.getElementById('classifica').innerHTML +=
            `
                <div class="col-12 col-md-6 col-xs-4 text-center">
                    <div class="card">
                    <img src="${strument.fotoStrumento}" class=" card-img-fluid" alt="Image" >
                        <h5 class="card-title">${strument.nomeStrumento}</h5>
                        <p class="card-text">${strument.quantitaAcquistata}</p>
                        <a href="#" class="btn btn-light text-dark border border-dark stretched-link">acquista</a>
                    </div>       
                </div>                
            `
            });
            
        }).catch ((Error) => {
            console.log(Error);
        });
}

function AddLike(id) 
{
    var heartContainer = document.getElementsByClassName('icon-wrapper');

Object.keys(heartContainer).forEach(singleElement => {          
    
        if (heartContainer[singleElement].classList.contains('liked'))
        {
            heartContainer[singleElement].classList.add('unliked');
            heartContainer[singleElement].classList.remove('liked');
            setTimeout(unlikeRemover, 250);
        }
        else 
        {
            heartContainer[singleElement].classList.add('liked');
            heartContainer[singleElement].classList.remove('unliked');
        }

            function unlikeRemover() {
                heartContainer[singleElement].classList.remove('unliked');
            }
    });

        axios.post('/api/Like/AddLikeToInstruments', {
                StrumentoMusicaleId : id,
        })
        .then((result) => {
            console.log("Sta inviando i dati");

        }).catch((error) => {
            console.log("Errore" + error);
        });
}

</script>
}