@model CategoriaStrumento
<div class="container "  style="padding-top: 65px  ">
    <div class="d-flex align-items-center">
        <h1 class="mt-3 mb-3">Modifica lo Strumento Musicale </h1>
    </div>

    <form asp-controller="Admin" asp-action="Update" asp-route-id="@Model.StrumentiMusicali.Id" method="post" autocomplete="off">
        @Html.AntiForgeryToken()
        <div class="form-outline">
             <label class="form-label" for="Immagine"> <strong>Foto:</strong> </label>
            <input asp-for="StrumentiMusicali.Foto" type="url" class="form-control  border border-dark" />
           
        </div>

        <div class="form-outline">
           <label class="form-label" for="Nome"><strong>Nome:</strong> </label> 
            <input asp-for="StrumentiMusicali.Nome" type="text" class="form-control  border border-dark" />
            
        </div>

        <div class="form-outline mb-4">
                    <label class="form-label" for="Descrizione"> <strong>Descrizione:</strong></label>
        <textarea asp-for="StrumentiMusicali.Descrizione" rows="10" class="form-control  border border-dark"></textarea>
        </div>

        <div class="form-outline mb-4 ">
             <label class="form-label" for="Prezzo"> <strong>Prezzo:</strong></label>
            <input asp-for="StrumentiMusicali.Prezzo" type="number" min="1" step="any" class="form-control border border-dark" />
           
        </div>
        <div class="mb-3">
                    <strong>Quantita:</strong>
                    <input type="number" min="1" max="50" asp-for="StrumentiMusicali.QuantitaStrumento" class="d-block w-5  border border-dark" />
                    <span asp-validation-for="StrumentiMusicali.QuantitaStrumento" class="text-danger"></span>
                </div>
         <div class="mb-3">
            <strong>Categoria:</strong>
                <select asp-for="StrumentiMusicali.CategoriaId" class="form-select  border border-dark" aria-label="Default select example"style="width:400px">
                <option value="">Seleziona la categoria</option>
                @foreach(Categoria category in Model.Categorie)
                {
                    <option value="@category.Id">@category.nomeCategoria</option>
                } 
                </select>
         </div>
        <button type="submit" class="btn btn-primary btn-block mb-4"> Modifica </button>
    </form>

</div>
